@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --azul700: #010D1D;
  --cinza500: #324154;
  --cinza700: #1C1C1C;
  --amarelo700: #B28D15;
  --verde700: #15d47e;
  --vermelho700: #844348;

  --amarelo300: #34352F;
  --verde300: #1F3737;
  --vermelho300: #342A33;

  --amarelo900: #F1C40F;
  --laranja900: #FFA500;

  --white: #ffffff;
  --white300: #bbbbbb;
}

@font-face {
  font-family: 'Naruto';
  src: url('./assets/fonts/naruto.otf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Anime';
  src: url('./assets/fonts/AnimeInept.otf');
  font-style: normal;
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: min(2rem, 6vw);
  color: var(--white);
  font-weight: bold;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--azul700);
  overflow-x: hidden;

}

input {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-principal {
  background-color: var(--cinza700);
  min-height: 110px;
  padding: 10px 3rem;
  display: flex;
  justify-content: space-between;
}

.area-nav-list li {
  margin-bottom: 0px;
}





.nav-link {
  color: #fff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.25rem;
  cursor: pointer;
}

.nav-link:hover {
  color: var(--white300);
}

.carta {
        min-width:120px;
        max-width: 200px;
        min-height: 200px;
        max-height: 300px;
        flex: 0 0 18%; 
        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.6s ease-in-out;
        cursor: pointer;
        transform: rotateY(180deg);
}

.virada {
    transform: rotateY(0deg);
}

.info-lobby {
  font-weight: 300;
  font-family: monospace;
}

.info-lobby span{
  font-weight: bold;
  font-family: monospace;
}